{% extends "base.html" %}

{% block content %}

<h2>Dashboard</h2>
<hr />
<h4 class="text-info">Latest 3 measures</h4>
<div class="container">
    <div class="row">
        {% for data in latest %}
        <div class="card border-info mb-3" style="max-width: 18rem; margin: 10px;">
            <div class="card-header">Time: {{ data.time }}</div>
            <div class="card-body text-info">
                <h5 class="card-title">Measures</h5>
                <p class="card-text">Sensor 1 : {{data.sensor1}}</p>
                <p class="card-text">Sensor 2 : {{data.sensor2}}</p>
                <p class="card-text">Sensor 3 : {{data.sensor3}}</p>
                <p class="card-text">Sensor 4 : {{data.sensor4}}</p>
            </div>
        </div>
        {% else %}
        <p>No Sensor Data found</p>
        {% endfor %}
    </div>

    <br />
    <br />
    <h4 class="text-info">Highest values</h4>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Sensor</th>
                <th scope="col">Value</th>
                <th scope="col">Timestamp</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>{{ data1["sensor1"] }}</td>
                <td>{{ data1["time"] }} </td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>{{ data2["sensor2"] }}</td>
                <td>{{ data2["time"] }} </td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>{{ data3["sensor3"] }}</td>
                <td>{{ data3["time"] }} </td>
            </tr>
            <tr>
                <th scope="row">4</th>
                <td>{{ data4["sensor4"] }}</td>
                <td>{{ data4["time"] }} </td>
            </tr>
        </tbody>
    </table>
</div>

{% endblock %}